{% extends "layout.html" %}

{% block content %}
    <h1>Edit Book</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="title">Title: </label>
        {{book.title}}
        <br><br>
        <label for="author">Author: </label>
        {{book.author}}
        <br><br>
        <label for="year">Year: </label>
        {{book.year}}
        <br><br>
        <label for="rating">Rating: </label>
        {{book.rating}}
        <br><br>
        <label for="description">Description: </label>
        {{book.description}}
        <br><br>
        <button>Update Book</button>
    </form>
    
{% endblock %}